#
# IMPORTANT NOTE
#
# This chart inherits from k8s common library chart. You can check the default values/options here:
# https://github.com/zekker6/helm-charts/blob/main/charts/library/common/values.yaml
#

image:
  # -- image repository
  repository: ghcr.io/prymitive/karma
  # -- image pull policy
  pullPolicy: IfNotPresent
  # -- image tag
  # @default -- chart.appVersion
  tag: v0.119

# -- See the following files for additional environment variables:
# https://github.com/prymitive/karma#docker
# @default -- See below
env: {}
# ALERTMANAGER_URI: "http://alertmanager:9093"


# -- Configures service settings for the chart.
# @default -- See values.yaml
service:
  main:
    ports:
      http:
        port: 8080

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  # @default -- See values.yaml
  main:
    enabled: false

persistence:
  # -- Configure persistence for data to use sqlite backend.
  # @default -- See values.yaml
  data:
    enabled: false
