annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: update ghcr.io/paperless-ngx/paperless-ngx docker tag to v1.14.0
apiVersion: v2
appVersion: v1.14.0
dependencies:
  - name: common
    repository: https://zekker6.github.io/helm-charts
    version: 0.4.3
  - condition: postgresql.enabled
    name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 12.x
  - condition: redis.enabled
    name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 17.10.x
description: Paperless - Index and archive all of your scanned paper documents
home: https://github.com/zekker6/helm-charts/tree/main/charts/apps/paperless
icon: https://raw.githubusercontent.com/the-paperless-project/paperless/master/src/paperless/static/paperless/img/logo-dark.png
keywords:
  - paperless
kubeVersion: '>=1.16.0-0'
maintainers:
  - name: zekker6
    email: zekker6@gmail.com
    url: https://github.com/zekker6/
name: paperless
sources:
  - https://github.com/zekker6/helm-charts/tree/main/charts/apps/paperless
version: 9.16.0
