image:
  # -- image repository
  repository: docuseal/docuseal
  # -- image tag
  tag: "2.2.6@sha256:97e7f1ae0d83122d377b44f8e57a97a0d4954a8e16f9f09925512fa69a89e898"
  # -- image pull policy
  pullPolicy: IfNotPresent

# -- environment variables. See more environment variables in the [docuseal documentation](https://github.com/docusealco/docuseal).
# @default -- See below
env: {}
# -- Configures service settings for the chart.
# @default -- See values.yaml
service:
  main:
    ports:
      http:
        port: 3000

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  # @default -- See values.yaml
  main:
    enabled: false

# -- Configure persistence settings for the chart under this key.
# @default -- See values.yaml
persistence:
  data:
    enabled: false
    mountPath: /data
