image:
  repository: dgtlmoon/sockpuppetbrowser
  tag: latest
  pullPolicy: IfNotPresent

securityContext:
  capabilities:
    add:
      - SYS_ADMIN

env:
  SCREEN_WIDTH: "1920"
  SCREEN_HEIGHT: "1024"
  SCREEN_DEPTH: "16"
  MAX_CONCURRENT_CHROME_PROCESSES: "10"

service:
  main:
    ports:
      http:
        port: 3000

ingress:
  main:
    enabled: false

persistence: {}

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 512Mi
