name: "Charts: Release"

on:
  workflow_dispatch:

  push:
    branches:
      - main
    paths:
      - "charts/**"
      - ".github/workflows/**"

env:
  HELM_VERSION: 4.0.4

jobs:
  release-library-charts:
    name: Release Library charts to GitHub pages
    uses: ./.github/workflows/charts-release-ghpages.yaml
    with:
      charts_dir: "charts/library"
    secrets: inherit

  release-application-charts:
    name: Release Application charts to GitHub pages
    uses: ./.github/workflows/charts-release-ghpages.yaml
    needs:
      - release-library-charts
    with:
      charts_dir: "charts/apps"
    secrets: inherit
