name: "Charts: Release to GitHub pages"

on:
  workflow_call:
    inputs:
      charts_dir:
        description: >
          Dir to release charts from. Defaults to "charts/apps".
        default: "charts/apps"
        required: false
        type: string

concurrency:
  group: gh-pages
  cancel-in-progress: false

env:
  HELM_VERSION: 3.18.4

permissions:
  contents: write
  pages: write
  deployments: write

jobs:
  release-charts:
    name: Release charts
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout charts branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Install Kubernetes tools
        uses: yokawasa/action-setup-kube-tools@v0.13.1
        with:
          setup-tools: |
            helmv3
          helm: "${{ env.HELM_VERSION }}"

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Release charts
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          charts_dir: "${{ inputs.charts_dir }}"
          skip_existing: true
