name: "Pre-commit consistency check"

on:
  workflow_call:
    inputs:
      modifiedFiles:
        description: >
          A JSON encoded array of files to check
        required: true
        type: string

jobs:
  pre-commit-check:
    name: Run pre-commit checks
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Run against changes
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --files ${{ join(fromJson(inputs.modifiedFiles), ' ') }} --config .ci/pre-commit/config.yaml
