#
# IMPORTANT NOTE
#
# This chart inherits from k8s common library chart. You can check the default values/options here:
# https://github.com/zekker6/helm-charts/blob/main/charts/library/common/values.yaml
#

image:
  # -- image repository
  repository: neosmemo/memos
  # -- image pull policy
  pullPolicy: IfNotPresent
  # -- image tag
  # @default -- chart.appVersion
  tag: 0.23.0

# -- See the following files for additional environment variables:
# https://github.com/usememos/memos#deploy-with-docker-in-seconds
# @default -- See below
env: {}

# -- Configures service settings for the chart.
# @default -- See values.yaml
service:
  main:
    ports:
      http:
        port: 5230

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  # @default -- See values.yaml
  main:
    enabled: false

persistence:
  # -- Configure persistence for data to use sqlite backend.
  # @default -- See values.yaml
  data:
    enabled: false
    mountPath: /var/opt/memos
    accessMode: ReadWriteOnce
    size: 100Mi
    emptyDir:
      enabled: false
